/*  your css code here. If applicable */
body{
	background-color:skyblue;
}

p:first-child{
	background-color:black;
	color:white;
}

p:last-child{
	color:red;
}

ul li:nth-child(odd){
	background-color:white;
}

ul li:nth-child(even){
	background-color:lightgray;
}

ul li:nth-child(3){
	background-color:pink;
}
ul li:nth-child(4){
	background-color:lightgray;
}
ul li:nth-child(5){
	background-color:white;
}
